<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFragment">
    <meta charset="UTF-8">
    <title>books</title>
</head>
<body class="container">


<div class="row mx-auto mb-4" style="width: 500px;">
    <h1 class="mx-auto col-md-9 text-center">create/edit</h1>
    <div class="mx-auto btn-group btn-group-sm col-md-9" role="group" aria-label="action buttons">
        <a href="/bookList" class="btn btn-primary btn-sm">Home</a>
    </div>
</div>

<br/>
<br/>
<div class="row">
    <form class="col-6" th:action="@{${'~/bookList/update'}}" method="post">
        <input type="hidden" id="id" name="id" th:value="*{book.id}">
        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="name" name="name" th:value="*{book.name}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="isbn" class="col-sm-4 col-form-label">isbn</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="isbn" name="isbn" th:value="*{book.isbn}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-4 col-form-label">book description</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="description" name="description"
                       th:value="*{book.description}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="pageNumber" class="col-sm-4 col-form-label">book pageNumber</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="pageNumber" name="pageNumber"
                       th:value="*{book.pageNumber}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="releaseDate" class="col-sm-4 col-form-label">book release</label>
            <div class="col-sm-8">
                <input type="date" class="form-control" id="releaseDate" name="releaseDate"
                       th:value="${#dates.format(book.releaseDate.toDate(), 'yyyy-MM-dd')}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="imgUrl" class="col-sm-4 col-form-label">book imgUrl</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="imgUrl" name="imgUrl" th:value="*{book.imgUrl}" required>
            </div>
        </div>
        <div class="form-group row">

            <div class="col-sd-8 fields">
                <div class="input-group" th:each="author, iter :${book.authors}">
                    <div class="input-group-prepend">
                        <span class="input-group-text">First and last author name</span>
                    </div>
                    <input class="form-control" name="authorsFirstName[]" type="text" placeholder="first name"
                           th:value="*{author.firstName}" required/>
                    <input class="form-control" name="authorsLastName[]" type="text" placeholder="last name"
                           th:value="*{author.lastName}" required/>
                    <div class="input-group-append">
                        <span class="btn input-group-addon btn-outline-success input-group-text add-field" th:if="${iter.index} == 0">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="btn input-group-addon btn-outline-danger input-group-text delete-field" th:if="${#lists.size(book.authors)} &gt; 1 and ${iter.index} != 0">
                            <i class="fas fa-minus"></i>
                        </span>
                    </div>
                </div>
                <span class="help-block"></span>
            </div>

        </div>

        <button class="btn btn-lg btn-primary" type="submit">Update/Create</button>
    </form>
    <div class="col-6">
        <img th:if="${#strings.isEmpty(book.imgUrl)}" alt="Card image cap"
             class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/166x250?theme=thumb"/>
        <img th:if="${not #strings.isEmpty(book.imgUrl)}" alt="thumbnail"
             class="card-img-right flex-auto d-none d-md-block thumbnail-size" th:attr="src=@{${book.imgUrl}}"/>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'no_img_loaded'
    });

    var template = '<div class="input-group" th:each="author, iter :${book.authors}">\n' +
        '                    <div class="input-group-prepend">\n' +
        '                        <span class="input-group-text">First and last author name</span>\n' +
        '                    </div>\n' +
        '                    <input class="form-control" name="authorsFirstName[]" type="text" placeholder="first name"\n' +
        '                           th:value="*{author.firstName}" required/>\n' +
        '                    <input class="form-control" name="authorsLastName[]" type="text" placeholder="last name"\n' +
        '                           th:value="*{author.lastName}" required/>\n' +
        '                    <div class="input-group-append">\n' +
        '                        <span class="btn input-group-addon btn-outline-danger input-group-text delete-field" >\n' +
        '                            <i class="fas fa-minus"></i>\n' +
        '                        </span>\n' +
        '                    </div>\n' +
        '                </div>';
        minusButton = '<span class="btn input-group-addon btn-outline-danger input-group-text delete-field">\n' +
            '                            <i class="fas fa-minus"></i>\n' +
            '                        </span>';

    $('.add-field').click(function () {
        var temp = $(template).insertBefore('.help-block');
    });

    $('.fields').on('click', '.delete-field', function () {
        $(this).closest(".input-group").remove()
    });
</script>

</body>
</html>
