<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFragment">
    <meta charset="UTF-8">
    <title>books</title>
</head>
<body class="container">


<div class="row mx-auto mb-4" style="width: 500px;">
    <h1 class="mx-auto col-md-9 text-center">More info </h1>
    <div class="mx-auto btn-group btn-group-sm col-md-9" role="group" aria-label="action buttons">
        <a href="/bookList" class="btn btn-primary btn-sm">Home</a>
        <a th:href="@{${'~/bookList/update/' + book.id}}" class="btn btn-warning btn-sm">edit</a>
    </div>
</div>
<br/>
<br/>
<table class="table">
    <tbody>
    <tr>
        <th scope="row">book name</th>
        <td><span th:text="${book.name}"></span></td>
    </tr>
    <tr>
        <th scope="row">isbn</th>
        <td><span th:text="${book.isbn}"></span></td>
    </tr>
    <tr>
        <th scope="row">description</th>
        <td><span th:text="${book.description}"></span></td>
    </tr>
    <tr>
        <th scope="row">pageNumber</th>
        <td><span th:text="${book.pageNumber}"></span></td>
    </tr>
    <tr>
        <th scope="row">releaseDate</th>
        <td><span th:text="${book.releaseDate}"></span></td>
    </tr>
    <tr>
        <th scope="row">authors</th>
        <td>
            <ul class="list-inline">
                <li th:each="author :${book.authors}" class="list-inline-item"
                    th:text="${author.firstName + ' ' + author.lastName}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
    <div class="col-6">
        <img th:if="${#strings.isEmpty(book.imgUrl)}" alt="Card image cap"
             class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/166x250?theme=thumb"/>
        <img th:if="${not #strings.isEmpty(book.imgUrl)}" alt="thumbnail"
             class="card-img-right flex-auto d-none d-md-block thumbnail-size" th:attr="src=@{${book.imgUrl}}"/>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'no_img_loaded'
    });
</script>

</body>
</html>
