<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFragment">
    <meta charset="UTF-8">
    <title>books</title>
</head>
<body class="container">

<div class="row mx-auto mb-4" style="width: 500px;">
    <h1 class="mx-auto col-md-9 text-center"> All books of <span th:text="${login}"></span></h1>
    <div class="mx-auto btn-group btn-group-sm col-md-9" role="group" aria-label="action buttons">
        <a href="/auth/passwordChange" class="btn btn-warning btn-sm">change password</a>
        <a th:href="@{${'~/bookList/create'}}" class="btn btn-primary btn-sm">add book</a>
        <a href="/auth/logout" class="btn btn-warning btn-sm">logout</a>
    </div>
</div>

<div class="row">
    <div class="col-md-6" th:each="book :${books}">

        <!-- single card-->
        <div class="card mb-4 box-shadow h-md-250">

            <!-- card image-->
            <div class="row no-gutters ">
                <div class="col-md-4">
                    <img th:if="${#strings.isEmpty(book.imgUrl)}" alt="Card image cap"
                         class="card-img thumbnail-size" data-src="holder.js/166x250?theme=thumb"/>
                    <img th:if="${not #strings.isEmpty(book.imgUrl)}" alt="thumbnail"
                         class="card-img thumbnail-size" th:attr="src=@{${book.imgUrl}}"/>
                </div>

                <!-- card body-->
                <div class="col-md-8 ">
                    <div class="card-body">
                        <h3 class="text-dark" th:text="${book.name}">book name</h3>
                        <p class="card-text">Autors</p>
                        <ul class="list-inline font-weight-light">
                            <li th:each="author :${book.authors}" class="list-inline-item"
                                th:text="${author.firstName + ' ' + author.lastName}"></li>
                        </ul>
                        <p class="card-text">
                            <small class="text-muted">
                                release: <span th:text="${#dates.format(book.releaseDate.toDate(), 'dd-MMM-yyyy')}"></span>
                            </small>
                        </p>
                    </div>
                </div>

                <!-- card header-->
                <div class="col-md-12 p-2 card-footer text-muted d-flex flex-row-reverse">
                    <div class="btn-group btn-group-sm" role="group" aria-label="action buttons">
                        <a th:href="@{${'~/bookList/' + book.id}}"
                           class="card-link btn btn-primary btn-sm">More info</a>
                        <a th:href="@{${'~/bookList/update/' + book.id}}"
                           class="card-link btn btn-warning btn-sm">Edit</a>
                        <a th:href="@{${'~/bookList/delete/' + book.id}}"
                           class="card-link btn btn-error btn-sm">Delete</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: '...'
    });
</script>

</body>
</html>
