<!DOCTYPE html >
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFragment">
    <meta charset="UTF-8">
    <title>books</title>
</head>
<body class="container">

<div class="row mx-auto mb-4" style="width: 500px;">
    <h1 class="mx-auto col-md-9 text-center"> Error </h1>
    <div class="mx-auto btn-group btn-group-sm col-md-9" role="group" aria-label="action buttons">
        <a href="/auth/passwordChange" class="btn btn-warning btn-sm">change password</a>
        <a href="/bookList" class="btn btn-primary btn-sm">Home</a>
        <a href="/auth/logout" class="btn btn-warning btn-sm">logout</a>
    </div>
</div>

<div class="row mx-auto">
    <div class="col-md-9 mx-auto">
        <p th:each="error :${errors}" th:text="${error}" class="alert alert-danger" role="alert">error</p>
    </div>
</div>

</body>
</html>
