<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFragment">
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body class="container">
<section class="mx-auto col-5">
    <form action="/auth/login" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <div>
            <p th:each="error :${errors}" th:text="${error}" class="alert alert-danger" role="alert">error</p>
        </div>

        <div class="form-group row">
            <label for="userLogin" class="col-4">login</label>
            <input autofocus class="form-control col-8" id="userLogin" name="userLogin" required type="text">
        </div>

        <div class="form-group row">
            <label for="inputPassword" class="col-4">Password</label>
            <input class="form-control col-8" id="inputPassword" name="password" required type="password">
        </div>

        <div class="form-group row">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p></p>
            <a class="btn btn-lg btn-outline-primary btn-block" href="/auth/register">Go to register</a>
        </div>
    </form>

</section>
</body>
</html>
