<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headerFragment">
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body class="container">

<div class="row mx-auto mb-4" style="width: 500px;">
    <h1 class="mx-auto col-md-9 text-center"> Change password</h1>
    <div class=" mx-auto btn-group btn-group-sm col-md-9" role="group" aria-label="action buttons">
        <a href="/bookList" class="btn btn-primary btn-sm">Book list</a>
    </div>
</div>

<section class="mx-auto col-5">
    <form action="/auth/passwordChange" method="post">
        <div>
            <p th:each="error :${errors}" th:text="${error}" class="alert alert-danger" role="alert">error</p>
        </div>
        <div>
            <p th:each="success :${successes}" th:text="${success}" class="alert alert-success" role="alert">success</p>
        </div>

        <div class="form-group row">
            <label for="currentPassword" class="col-4">current password</label>
            <input class="form-control col-8" id="currentPassword" name="currentPassword" required type="password">
        </div>

        <div class="form-group row">
            <label for="newPassword" class="col-4">new password</label>
            <input class="form-control col-8" id="newPassword" name="newPassword" required type="password">
        </div>

        <div class="form-group row">
            <label for="newPasswordRepeated" class="col-4">repeat new password</label>
            <input class="form-control col-8" id="newPasswordRepeated" name="newPasswordRepeated" required type="password">
        </div>

        <div class="form-group row">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
        </div>
    </form>

</section>
</body>
</html>
